<div role="dialog" tabindex="-1" class="modal fade" id="newticket" *ngIf="identity">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="border: 1px solid #018dda">
      <div class="modal-header" style="background-color: #018dda;color: rgb(255,255,255);">
        <h4 class="modal-title">Nueva solicitud</h4>
              <button type="button" class="close" (click)="cancelTicket()" aria-label="Close"><span aria-hidden="true">×</span></button></div>
          <form name="my-form" #form="ngForm" (ngSubmit)="onSubmit()">
              <div class="modal-body"><label style="font-size: 20px;">Clasificación de solicitud</label>
                  <div class="form-group">
                      <div class="dropdown" >
                          <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              {{companyName}}
                          </button>        
                          <div class="dropdown-menu" >
                              <input type="text" class="form-control form-control dropdown-search-input" placeholder="Buscar.." (keyup)="filterCompany()" [(ngModel)]="companyFilter" name="companyFilter"/>
                              <a class="dropdown-item" *ngFor="let company of companies" (click)="clickCompany(company)">{{company.name}}</a>
                          </div>
                      </div>
                      <div class="dropdown">
                              <button [disabled]="companyName == 'Departamento'" class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-top: 10px;">
                                  {{typeName}}
                              </button>
                              <div class="dropdown-menu">
                                  <input type="text" class="form-control form-control dropdown-search-input" placeholder="Buscar.." (keyup)="filterType()" [(ngModel)]="typeFilter" name="typeFilter"/>
                                  <a class="dropdown-item" *ngFor="let type of types" (click)="clickType(type)">{{type.name}}</a>
                              </div>
                          </div>
                          <div class="dropdown">
                          <button [disabled]="typeName == 'Tipo'" class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-top: 10px;">
                              {{subTypeName}}
                          </button>
                          <div class="dropdown-menu">
                              <input type="text" class="form-control form-control dropdown-search-input" placeholder="Buscar.." (keyup)="filterSubType()" [(ngModel)]="subTypeFilter" name="subTypeFilter" />
                              <a class="dropdown-item" *ngFor="let subtype of subtypes" (click)="clickSubtype(subtype)">{{subtype.name}}</a>
                          </div>
                      </div>
                  </div>
                  <div style="margin-top: 12px;" *ngIf="selectedSubtype._id != '' && getLenght(selectedSubtype.checks) != 0">
                    <label>
                      Este tipo de solicitud necesita una serie de validaciones, verifique que su requerimiento no se encuentre en estos tips y tildelos para seguir.
                    </label>
                      <div class="form-check ">
                        <div *ngFor="let check of selectedSubtype.checks">
                            <input type="checkbox" (change)="checkValidates()" class="form-check-input checkvalidate" />
                            <label class="form-check-label">
                              {{check}}
                            </label>
                        </div>
                        <!-- <div class="text-center" style="margin-top: 6px;">
                          <a class="btn btn-primary" (click)="goodCheck()" style="color:white" role="button">Estas validaciones me sirvieron para solucionar mi problema</a>
                        </div> -->
                      </div>
                  </div>
                  <hr/>
                  <div class="form-group" style="margin-bottom: 2px;" *ngIf="selectedSubtype._id != ''">
                    <div *ngIf="getLenght(selectedSubtype.checks) == 0 || allChecked">
                        <label class="d-block" style="font-size: 20px;">
                            Descripción de solicitud
                        </label>
                        <label>
                          {{selectedSubtype.desc}}
                        </label>
                        <input 
                          type="text" 
                          class="form-control" 
                          placeholder="Asunto" 
                          #sub="ngModel" 
                          name="sub" 
                          [(ngModel)]="ticket.sub"
                        />



                        <div class="row" style="margin-top: 10px;" *ngIf="emojis">
                          <div class="col" id="chat-text">
                              <div class="container">
                                  <div>
                                    <a (click)="addEmoji('😃')"> <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/72/whatsapp/238/smiling-face-with-open-mouth_1f603.png" width="30px" style="margin-right: 3px;" /></a>
                                    <a (click)="addEmoji('😄')"> <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/72/whatsapp/238/smiling-face-with-open-mouth-and-smiling-eyes_1f604.png" width="30px" style="margin-right: 3px;" /></a>
                                    <a (click)="addEmoji('😁')"> <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/72/whatsapp/238/grinning-face-with-smiling-eyes_1f601.png" width="30px" style="margin-right: 3px;" /></a>
                                    <a (click)="addEmoji('😆')"> <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/72/whatsapp/238/smiling-face-with-open-mouth-and-tightly-closed-eyes_1f606.png" width="30px" style="margin-right: 3px;" /></a>
                                    <a (click)="addEmoji('😅')"> <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/72/whatsapp/238/smiling-face-with-open-mouth-and-cold-sweat_1f605.png" width="30px" style="margin-right: 3px;" /></a>
                                    <a (click)="addEmoji('😂')"> <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/72/whatsapp/238/face-with-tears-of-joy_1f602.png" width="30px" style="margin-right: 3px;" /></a>
                                    <a (click)="addEmoji('😉')"> <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/72/whatsapp/238/winking-face_1f609.png" width="30px" style="margin-right: 3px;" /></a>
                                    <a (click)="addEmoji('😊')"> <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/72/whatsapp/238/smiling-face-with-smiling-eyes_1f60a.png" width="30px" style="margin-right: 3px;" /></a>
                                    <a (click)="addEmoji('😜')"> <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/72/whatsapp/238/face-with-stuck-out-tongue-and-winking-eye_1f61c.png" width="30px" style="margin-right: 3px;" /></a>
                                    <a (click)="addEmoji('😝')"> <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/72/whatsapp/238/face-with-stuck-out-tongue-and-tightly-closed-eyes_1f61d.png" width="30px" style="margin-right: 3px;" /></a>
                                    <a (click)="addEmoji('😐')"> <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/72/whatsapp/238/neutral-face_1f610.png" width="30px" style="margin-right: 3px;" /></a>
                                    <a (click)="addEmoji('😪')"> <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/72/whatsapp/238/sleepy-face_1f62a.png" width="30px" style="margin-right: 3px;" /></a>
                                    <a (click)="addEmoji('😎')"> <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/72/whatsapp/238/smiling-face-with-sunglasses_1f60e.png" width="30px" style="margin-right: 3px;" /></a>
                                    <a (click)="addEmoji('😲')"> <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/72/whatsapp/238/astonished-face_1f632.png" width="30px" style="margin-right: 3px;" /></a>
                                    <a (click)="addEmoji('😓')"> <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/72/whatsapp/238/face-with-cold-sweat_1f613.png" width="30px" style="margin-right: 3px;" /></a>
                                    <a (click)="addEmoji('😩')"> <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/72/whatsapp/238/weary-face_1f629.png" width="30px" style="margin-right: 3px;" /></a>
                                    <a (click)="addEmoji('😠')"> <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/72/whatsapp/238/angry-face_1f620.png" width="30px" style="margin-right: 3px;" /></a>
                                    <a (click)="addEmoji('👌')"> <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/72/whatsapp/238/ok-hand-sign_1f44c.png" width="30px" style="margin-right: 3px;" /></a>
                                    <a (click)="addEmoji('👍')"> <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/72/whatsapp/238/thumbs-up-sign_1f44d.png" width="30px" style="margin-right: 3px;" /></a>
                                    <a (click)="addEmoji('👎')"> <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/72/whatsapp/238/thumbs-down-sign_1f44e.png" width="30px" style="margin-right: 3px;" /></a>
                                    <a (click)="addEmoji('👏')"> <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/72/whatsapp/238/clapping-hands-sign_1f44f.png" width="30px" style="margin-right: 3px;" /></a>
                                    <a (click)="addEmoji('🙌')"> <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/72/whatsapp/238/person-raising-both-hands-in-celebration_1f64c.png" width="30px" style="margin-right: 3px;"/></a>
                                    <a (click)="addEmoji('🙏')"> <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/72/whatsapp/238/person-with-folded-hands_1f64f.png" width="30px" style="margin-right: 3px;" /></a>
                                    <a (click)="addEmoji('👀')"> <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/72/whatsapp/238/eyes_1f440.png" width="30px" style="margin-right: 3px;" /></a>
                                    <a (click)="addEmoji('☠️')"> <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/72/whatsapp/238/skull-and-crossbones_2620.png" width="30px" style="margin-right: 3px;" /></a>
                                    <a (click)="addEmoji('🙈')"> <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/72/whatsapp/238/see-no-evil-monkey_1f648.png" width="30px" style="margin-right: 3px;" /></a>
                                    <a (click)="addEmoji('🙉')"> <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/72/whatsapp/238/hear-no-evil-monkey_1f649.png" width="30px" style="margin-right: 3px;" /></a>
                                    <a (click)="addEmoji('🙊')"> <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/72/whatsapp/238/speak-no-evil-monkey_1f64a.png" width="30px" style="margin-right: 3px;" /></a>
                  
                                  </div>
                              </div>
                          </div>
                      </div>
                  
                          <div class="row" style="margin-left: 4px; margin-top: 8px;">
                              <button class="btn btn-dark btn-sm" type="button" onclick="document.execCommand('bold');" style="margin-right: 4px;padding-right: 7px; padding-left: 7px"><i class="fa fa-bold"></i></button>
    
                              <button class="btn btn-dark btn-sm" type="button" onclick="document.execCommand('italic');" style="margin-right: 4px; padding-right: 9px; padding-left: 9px"><i class="fa fa-italic"></i></button>
                              
                              <button class="btn btn-dark btn-sm" type="button" onclick="document.execCommand('underline');" style="margin-right: 4px; padding-right: 8px; padding-left: 8px"><i class="fa fa-underline"></i></button>
                              
                              <button class="btn btn-dark btn-sm" type="button" onclick="document.execCommand('createlink', false, prompt('Ingresa la URL:', 'http://'))" style="margin-right: 4px; padding-right: 7px; padding-left: 7px"><i class="fa fa-link"></i></button>
                              
                              <div style="min-height:30px;display:inline;border-left:1px solid gray; margin-right:9px;margin-left:5px"></div>
                              
                              <button class="btn btn-dark btn-sm" type="button" onclick="document.execCommand('insertUnorderedList')" style="margin-right: 4px; padding-right: 7px; padding-left: 7px"><i class="fa fa-list-ul"></i></button>
                              
                              <button class="btn btn-dark btn-sm" type="button" onclick="document.execCommand('insertOrderedList')" style="margin-right: 4px; padding-right: 7px; padding-left: 7px"><i class="fa fa-list-ol"></i></button>
                              
                              <div style="min-height:30px;display:inline;border-left:1px solid gray; margin-right:9px;margin-left:5px"></div>
                              
                              <button class="btn btn-dark btn-sm" type="button" onclick="document.execCommand('justifyLeft')" style="margin-right: 4px; padding-right: 7px; padding-left: 7px"><i class="fa fa-align-left"></i></button>
                              
                              <button class="btn btn-dark btn-sm" type="button" onclick="document.execCommand('justifyCenter')" style="margin-right: 4px; padding-right: 7px; padding-left: 7px"><i class="fa fa-align-center"></i></button>
                              
                              <button class="btn btn-dark btn-sm" type="button" onclick="document.execCommand('justifyRight')" style="margin-right: 4px; padding-right: 7px; padding-left: 7px"><i class="fa fa-align-right"></i></button>
                              <div style="min-height:30px;display:inline;border-left:1px solid gray; margin-right:9px;margin-left:5px"></div>
                          
                              <button class="btn btn-dark btn-sm" type="button" (click)="showEmojis()" style="margin-right: 4px; padding-right: 7px; padding-left: 7px"><img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/72/whatsapp/238/smiling-face-with-open-mouth_1f603.png" width="20px"/></button>
    
                          </div>
    
                          <div class="row" style="margin-top: 8px;margin-left: 4px;">
                              <div id="editable" style="padding-left: 5px !important;" class="text-chat" contentEditable="true"
                              [innerHtml]="selectedSubtype.autoDesc"
                              (input)="tb.text = $event.target.innerHTML"
                              (paste)="pastePicture($event)"
                              
                              >
                                <span id="antieditable" contentEditable="false"></span>
                              </div>
                          </div>
                          <script src="../../../assets/scripts/chatbox.js"></script>
  

                        <label *ngIf="!filesToUpload" class="d-inline attach" style="margin-bottom: 0px; ">
                          <span>Adjuntar archivo </span>
                          <i class="fa fa-paperclip adjunt" style="font-size: 23px;padding-top: 5px;"></i>
                          <input type="file" multiple class="d-none" (change)="fileChangeEvent($event)"/>
                        </label>
                        <label *ngIf="filesToUpload" class="d-inline btn btn-success" style="margin-bottom: 0px; border: 1px solid gray;">
                          <span>Adjuntar archivo </span>
                          <i class="fa fa-paperclip adjunt" style="font-size: 23px;padding-top: 5px;"></i>
                          <input type="file" multiple class="d-none" (change)="fileChangeEvent($event)"/>
                        </label>
                        <span *ngIf="filesToUpload">
                          <a class="btn btn-danger" style="margin-left: 8px; color: white;margin-bottom: 0px; margin-top: 8px;" (click)=cleanAttach()>
                            <i class="fa fa-trash"></i>
                          </a>    
                        </span>
                    </div>
                  </div>
                </div>
              <div class="modal-footer">
                <span *ngIf="(getLenght(selectedSubtype.checks) == 0 || allChecked) && selectedSubtype._id != ''">
                    <label *ngIf="ticket.sub == ''" style="color: red;">*Falta completar el asunto</label>
                    <label *ngIf="tb.text == ''" style="color: red;">*Falta completar la descripción</label>
    
                </span>
                <button class="btn btn-light" type="button" (click)="cancelTicket()">
                  Cancelar
                </button>
                <button class="btn btn-success" type="submit" [disabled]="(getLenght(selectedSubtype.checks) != 0 && !allChecked) || ticket.sub == '' || tb.text == ''">
                  Aceptar
                </button>
            </div>
      </form>
  </div>
</div>
</div>