/* You can add global styles to this file, and also import other style files */

body{
    //background-image: url('./assets/img/solid-blue-wp.jpg');
    background: radial-gradient(circle at 50% 100%, #dcdfe0, #abadae);;
    height: 500px;
}

.dark{
    background-color: #1e2833;
}

.dark:hover{
    background-color: #545e69;
}

#editable {
    width: 100%;
    min-height: 80px;
    background-color: #eeeeee;
    border: 1px solid gray;
    color: black;
    border-radius: 10px;
  }

 img {
    max-width: 100%;
    height: auto;
  }  
