.img-profile{
    width: 100%;
}

.card-profile{
    margin-top: 20px;
}

.acept{
    margin-right: 15px;
}

.active{
    background-color: #2D9DF1;
    color: white;
}

.newimg {
    display: none;
}
  
  

.required{
    color: red;
    font-weight: bold;
}