<div class="card shadow">
  <div class="card-header py-3">
      <p class="text-primary m-0 font-weight-bold">Seleciona un ticket para ver su información</p>
  </div>
  <div class="card-body">
      <div class="row">
          <div class="col-md-6 text-nowrap">
              <div id="dataTable_length" class="dataTables_length">
                  <label>Mostrar 
                      <select class="form-control form-control-sm custom-select custom-select-sm" (change)="changeLimit($event.target.value)">
                            <option value="10"selected>10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                    </select>
                    </label>
                    <button style="margin-left: 70px;" 
                    data-toggle="modal" data-target="#filter" type="button"
                    [className]="(filter['sub'] == null || filter['sub'] == '') && (filter['status'] == null || filter['status'] == '') && filter['requester'] == null && filter['agent'] == null ? 'btn btn-dark dark' : 'btn btn-dark dark-selected'">
                        <i class="fa fa-filter"></i>
                    </button>
                </div>


            </div>
            <div class="col-md-2 text-nowrap">
                <button 
                *ngIf="identity['role'] != 'ROLE_REQUESTER' && this.groupTicket.length > 1" 
                class="btn btn-dark dark" type="button" 
                (click)="unify()">Unificar</button>
            </div>
  
        </div>
      <div class="table-responsive table mt-2" id="dataTable">
          <table class="table dataTable my-0" id="dataTable">
              <thead>
                  <tr>
                      <th>Número</th>
                      <th>Solicitante</th>
                      <th>Asunto</th>
                      <th>Agente</th>
                      <th>Estado</th>
                      <th>Fecha</th>
                  </tr>
              </thead>
              <tbody *ngFor="let ticket of tickets" [className]="ticket.status == 'Cerrado' ? 'closed' : ''">
                  <tr [className]="isInGroup(ticket) && identity['role'] != 'ROLE_REQUESTER' ? 'selected' : 'select'" (click)="selectTicket($event, ticket)" >
                      <td data-title="Numero" >{{ticket.numTicket}}</td>
                      <td data-title="Solicitante" >
                        <img *ngIf="ticket.requester && ticket.requester.image != 'null'" class="rounded-circle mr-2" width="30" height="30" src="{{url+'user/image/'+ticket.requester.image}}" />
                        <img *ngIf="!ticket.requester || ticket.requester.image == 'null'" class="rounded-circle mr-2" width="30" height="30" src="../../../assets/img/system/user-placeholder.png" />
                        {{ticket.requester.name}}
                        <span> </span>
                        {{ticket.requester.surname}}
                      </td>
                      <td data-title="Asunto" >{{ticket.sub}}</td>
                      <td data-title="Agente"  *ngIf="ticket.agent">
                          <img *ngIf="ticket.agent.image != 'null'" class="rounded-circle mr-2" width="30" height="30" src="{{url+'user/image/'+ticket.agent.image}}" />
                          <img *ngIf="ticket.agent.image == 'null'" class="rounded-circle mr-2" width="30" height="30" src="../../../assets/img/system/user-placeholder.png" />
                          {{ticket.agent.name}}
                          <span> </span>
                          {{ticket.agent.surname}}
                      </td>
                      <td data-title="Agente"  *ngIf="!ticket.agent"></td>
                      <td data-title="Estado" >{{ticket.status}}</td>
                      <td data-title="Fecha" >{{changeDate(ticket.createDate)}}</td>
                  </tr>
              </tbody>
              <tfoot>
                  <tr>
                      <td><strong>Numero</strong></td>
                      <td><strong>Solicitante</strong></td>
                      <td><strong>Asunto</strong></td>
                      <td><strong>Agente</strong></td>
                      <td><strong>Estado</strong></td>
                      <td><strong>Fecha</strong></td>
                  </tr>
              </tfoot>
          </table>
      </div>
      <div class="row">
          <div class="col-md-6 align-self-center">
              <p id="dataTable_info" class="dataTables_info">Mostrando {{pagingCounter}} a {{isLastPage()}} de {{totalDocs}}</p>
          </div>
          <div class="col-md-6">
              <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                  <ul class="pagination">
                      <li class="page-item"><a class="page-link" *ngIf="prevPage != null" [routerLink]="['/ticket',1,limit]"><span>«</span></a></li>
                      <li class="page-item"><a class="page-link" *ngIf="prevPage != null" [routerLink]="['/ticket',prevPage,limit]">{{prevPage}}</a></li>
                      <li class="page-item active"><a class="page-link">{{page}}</a></li>
                      <li class="page-item"><a class="page-link" *ngIf="nextPage != null" [routerLink]="['/ticket',nextPage,limit]">{{nextPage}}</a></li>
                      <li class="page-item"><a class="page-link" *ngIf="nextPage != null" [routerLink]="['/ticket',totalPages,limit]"><span>»</span></a></li>
                  </ul>
              </nav>
          </div>
      </div>
  </div>
</div>

<app-message></app-message>

<div role="dialog" tabindex="-1" class="modal fade" id="filter">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    Filtro
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="input-group fg" *ngIf="identity['role'] != 'ROLE_REQUESTER'">
                        <div class="input-group-prepend">
                            <div class="dropdown btn-group" role="group">
                                <button class="btn btn-dark dark dropdown-toggle filter" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="focus('r')">
                                    <span>Solicitante</span>
                                </button>        
                                <div class="dropdown-menu" style="width: 200px;" >
                                    <input autocomplete="off" type="text" id="searchrequester" class="form-control form-control dropdown-search-input" placeholder="Buscar.." (keyup)="filterRequester()" [(ngModel)]="requesterFilter" name="requesterFilter"/>                         
                                    <span *ngIf="keyPress">
                                        <a class="dropdown-item" *ngFor="let requester of requesters" (click)="set(requester, 'requester')">
                                            {{requester.name+' '+requester.surname}}
                                        </a>    
                                    </span>
                                </div>
                            </div>
      
                        
                        </div><input type="text" class="form-control" id="requestername" readonly />
                        <div class="input-group-append">
                            <button class="btn btn-danger" (click)="deleteFilter('requester')" type="button">
                                <i class="fa fa-trash-alt"></i>
                            </button>
                        </div>
                    </div>
                    <div class="input-group fg" >
                        <div class="input-group-prepend">
                            <div class="dropdown btn-group" role="group">
                                <button class="btn btn-dark dark dropdown-toggle filter" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="focus('a')">
                                    <span>Agente</span>
                                </button>        
                                <div class="dropdown-menu" style="width: 200px;"  >
                                    <input autocomplete="off" type="text" id="searchagent" class="form-control form-control dropdown-search-input" placeholder="Buscar.." (keyup)="filterAgent()" [(ngModel)]="agentFilter" name="agentFilter"/>                         
                                    <span *ngIf="keyPress">
                                        <a class="dropdown-item" *ngFor="let agent of agents" (click)="set(agent, 'agent')">
                                            {{agent.name+' '+agent.surname}}
                                        </a>    
                                    </span>
                                </div>
                            </div>
                        </div>
                        <input type="text" class="form-control" readonly id="agentname" />
                        <div class="input-group-append">
                            <button class="btn btn-danger" (click)="deleteFilter('agent')" type="button">
                                <i class="fa fa-trash-alt"></i>
                            </button>
                        </div>
                    </div>
                    <div class="input-group fg">
                        <div class="input-group-prepend">
                            <div class="dropdown btn-group" role="group"><button class="btn btn-dark dropdown-toggle filter dark" data-toggle="dropdown" aria-expanded="false" type="button">Estado</button>
                                <div role="menu" class="dropdown-menu">
                                    <a role="presentation" class="dropdown-item" (click)="set('Pendiente', 'status')">
                                        Pendiente
                                    </a>
                                    <a role="presentation" class="dropdown-item" (click)="set('Finalizado', 'status')">
                                        Finalizado
                                    </a>
                                </div>
                            </div>
                        </div><input type="text" class="form-control" readonly id="statusname"/>
                        <div class="input-group-append">
                            <button class="btn btn-danger" (click)="deleteFilter('status')" type="button">
                                <i class="fa fa-trash-alt"></i>
                            </button>
                        </div>
                    </div>
                    <div class="input-group fg">
                        <div class="input-group-prepend">
                            <span class="input-group-text filter" style="padding-left: 31px;">Asunto</span></div>
                            <input type="text" class="form-control" [(ngModel)]="filter['sub']" name="sub" />
                        <div class="input-group-append">
                            <button class="btn btn-danger" (click)="deleteFilter('sub')" type="button">
                                <i class="fa fa-trash-alt"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-light" type="button" data-dismiss="modal">Cerrar</button>
                <button class="btn btn-dark dark" type="button" (click)="filterArguments()">Filtrar</button>
            </div>
        </div>
    </div>
</div>
