<div class="card shadow">
  <div class="card-header py-3">
      <p class="text-primary m-0 font-weight-bold">Seleciona un ticket para ver su información</p>
  </div>
  <div class="card-body">
      <div class="row">
          <div class="col-md-6 text-nowrap">
              <div id="dataTable_length" class="dataTables_length">
                  <label>Mostrar 
                      <select class="form-control form-control-sm custom-select custom-select-sm" (change)="changeLimit($event.target.value)">
                            <option value="10"selected>10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                    </select>
                </label>
            </div>
          </div>
      </div>
      <div class="table-responsive table mt-2" id="dataTable">
          <table class="table dataTable my-0" id="dataTable">
              <thead>
                  <tr>
                      <th>Numero</th>
                      <th>Solicitante</th>
                      <th>Asunto</th>
                      <th>Agente</th>
                      <th>Estado</th>
                      <th>Fecha</th>
                  </tr>
              </thead>
              <tbody *ngFor="let ticket of tickets">
                  <tr class="select" [routerLink]="['/ticket-gestion',ticket._id]">
                      <td data-title="Numero">{{ticket.numTicket}}</td>
                      <td data-title="Solicitante">
                        <img *ngIf="ticket.requester && ticket.requester.image != 'null'" class="rounded-circle mr-2" width="30" height="30" src="{{url+'user/image/'+ticket.requester.image}}" />
                        <img *ngIf="!ticket.requester || ticket.requester.image == 'null'" class="rounded-circle mr-2" width="30" height="30" src="../../../assets/img/system/user-placeholder.png" />
                        {{ticket.requester.name}}
                        <span> </span>
                        {{ticket.requester.surname}}
                      </td>
                      <td data-title="Asunto">{{ticket.sub}}</td>
                      <td data-title="Agente" *ngIf="ticket.agent">
                          <img *ngIf="ticket.agent.image != 'null'" class="rounded-circle mr-2" width="30" height="30" src="{{url+'user/image/'+ticket.agent.image}}" />
                          <img *ngIf="ticket.agent.image == 'null'" class="rounded-circle mr-2" width="30" height="30" src="../../../assets/img/system/user-placeholder.png" />
                          {{ticket.agent.name}}
                          <span> </span>
                          {{ticket.agent.surname}}
                      </td>
                      <td data-title="Agente" *ngIf="!ticket.agent"></td>
                      <td data-title="Estado">{{ticket.status}}</td>
                      <td data-title="Fecha">{{changeDate(ticket.createDate)}}</td>
                  </tr>
              </tbody>
              <tfoot>
                  <tr>
                      <td><strong>Numero</strong></td>
                      <td><strong>Solicitante</strong></td>
                      <td><strong>Asunto</strong></td>
                      <td><strong>Agente</strong></td>
                      <td><strong>Estado</strong></td>
                      <td><strong>Fecha</strong></td>
                  </tr>
              </tfoot>
          </table>
      </div>
      <div class="row">
          <div class="col-md-6 align-self-center">
              <p id="dataTable_info" class="dataTables_info">Mostrando {{pagingCounter}} a {{pagingCounter+limit}} de {{totalDocs}}</p>
          </div>
          <div class="col-md-6">
              <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                  <ul class="pagination">
                      <li class="page-item"><a class="page-link" *ngIf="prevPage != null" [routerLink]="['/ticket',1,limit]"><span>«</span></a></li>
                      <li class="page-item"><a class="page-link" *ngIf="prevPage != null" [routerLink]="['/ticket',prevPage,limit]">{{prevPage}}</a></li>
                      <li class="page-item active"><a class="page-link">{{page}}</a></li>
                      <li class="page-item"><a class="page-link" *ngIf="nextPage != null" [routerLink]="['/ticket',nextPage,limit]">{{nextPage}}</a></li>
                      <li class="page-item"><a class="page-link" *ngIf="nextPage != null" [routerLink]="['/ticket',totalPages,limit]"><span>»</span></a></li>
                  </ul>
              </nav>
          </div>
      </div>
  </div>
</div>