<mat-card>
    <mat-card-header>
      <mat-card-title>{{data.title}}</mat-card-title>
      <mat-card-subtitle>{{request.req}}</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content style="margin-top: 10px;">
        <p>Ambiente:
            <strong *ngIf="request.environment == 'PROD'">PRODUCCIÓN</strong>
            <strong *ngIf="request.environment == 'TEST'">TEST</strong>
        </p>
        <p>Antigüedad: 
            <strong>{{request.old}} DÍAS</strong>
        </p>
        <p>Tipo: 
            <strong>{{request.type}}</strong>
        </p>
        <p>Criticidad: 
            <strong>{{request.priority}}</strong>
        </p>
        <div>
            <p>Descripción</p>
            <div [innerHTML]="request.desc" class="border rounded-0 " style="padding: 5px;"></div>
        </div>
        <hr *ngIf="request.obs && request.obs != ''">
        <div *ngIf="request.obs && request.obs != ''" >
            <p>Observaciones</p>
            <div [innerHTML]="request.obs" class="border rounded-0 " style="padding: 5px;"></div>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button color="warn" type="button" (click)="dialogRef.close(false)">Cerrar</button>
    </mat-card-actions>
  </mat-card>