<h1 matDialogTitle>{{data.title}}</h1>

<mat-card class="p-0">
  <mat-card-content>
        <form>
          <div fxLayout="row wrap" fxLayout.lt-sm="column">
            <div fxFlex="100"  class="pr-1">
              <mat-form-field class="full-width">
                <input type="text"
                       placeholder="Nombre"
                       aria-label="Text"
                       matInput
                       name="name"
                       [(ngModel)]='sector.name'>
              </mat-form-field>
            </div>
        
            <div fxFlex="100"  class="pr-1">
                <mat-form-field class="full-width">
                    <input type="text"
                           placeholder="Iniciales"
                           aria-label="Text"
                           matInput
                           name="initials"
                           [(ngModel)]='sector.initials'>
                </mat-form-field>
            </div>
        
        
            <div fxFlex="100"  class="pr-1">
            <mat-form-field class="full-width">
                <input type="text"
                        placeholder="Nombre"
                        aria-label="Text"
                        matInput
                        name="email"
                        [(ngModel)]='sector.email'>
                </mat-form-field>
            </div>
          </div>
          <button mat-raised-button color="primary" (click)="submit()">Guardar</button>
        </form>
  </mat-card-content>
</mat-card>
