<mat-card class="p-0">
  <mat-card-content>
    <mat-horizontal-stepper [linear]="true">
      <mat-step id="orderStep" *ngIf="identity['role'] == 'ROLE_ADMIN'">
        <ng-template matStepLabel>Orden</ng-template>
        <form>
          <div fxLayout="row wrap">
              <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">

                <div class="pb-1">
                  <mat-form-field class="full-width">
                      <mat-label>Fecha</mat-label>
                      <input matInput [(ngModel)]="order.date" name="date" [matDatepicker]="date">
                      <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
                      <mat-datepicker #date></mat-datepicker>
                  </mat-form-field>
                </div>

                <div class="pb-1">
                  <mat-form-field class="full-width">
                      <input type="text"
                      placeholder="Destino"
                      aria-label="Text"
                      matInput
                      (input)="filterSector($event.target.value)"
                      [(ngModel)]="order.sectorDestiny"
                      name="sectorDestiny"
                      [matAutocomplete]="auto">

                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                        <mat-option *ngFor="let sector of tmpSectors" [value]="sector.name">
                            <span>{{sector.name}}</span>
                        </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>

                </div>


              </div>

              <div fxFlex="100" fxFlex.gt-xs="50">
                  
                
                <div class="pb-1">
                  <mat-form-field class="full-width">
                      <mat-label>Fecha de entrega requerida</mat-label>
                      <input matInput [(ngModel)]="order.dateRequired" name="dateRequired" [matDatepicker]="dateRequired">
                      <mat-datepicker-toggle matSuffix [for]="dateRequired"></mat-datepicker-toggle>
                      <mat-datepicker #dateRequired></mat-datepicker>
                  </mat-form-field>
                </div>

                <div class="pb-1">
                  <mat-form-field class="full-width">
                      <input type="text"
                      placeholder="Observaciones"
                      aria-label="Text"
                      matInput
                      [(ngModel)]="order.obs"
                      name="obs">

                  </mat-form-field>

                </div>


              </div>
          </div>
          <div fxLayout="row wrap">
            <div fxFlex="100" fxFlex.gt-xs="100" class="pr-1">
              <quill-editor
                theme="snow" 
                placeholder="Justificativo de compra"
                [modules]="config"
                name="justification"
                [(ngModel)]="order.justification"></quill-editor>
            </div>
          </div>
        </form>
        <div style="margin-top: 50px;">
          <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
        </div>
      </mat-step>

      <mat-step id="orderItemsStep">
        <ng-template matStepLabel>Articulos</ng-template>
        <form>
          <div fxLayout="row wrap">
              <div fxFlex="100" fxFlex.gt-xs="100" class="pr-1">
                <div class="pb-1">
                  <button mat-raised-button color="primary" (click)="newItem(true)">Añadir articulo</button>
                </div>
              </div>
          </div>
        </form>

        <ngx-datatable
          class="material bg-white"
          [rows]="orderItems"
          [columnMode]="'flex'"
          [headerHeight]="40"
          [footerHeight]="50"
          [limit]="10"
          [rowHeight]="45"
          (activate)="onActivate($event)">
          <ngx-datatable-column name="Item" [flexGrow]="1">
            <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                {{rowIndex + 1}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Cantidad" [flexGrow]="1">
            <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                {{row.cant}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Descripción" [flexGrow]="7">
            <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                <span [matTooltip]="row.item['name'] + ' | ' + row.item['brand']">{{row.item['name']}}</span>
                <small [matTooltip]="row.item['name'] + ' | ' + row.item['brand']" *ngIf="row.item['brand']">  |  {{row.item['brand']}}</small>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Observación" [flexGrow]="7">
            <ng-template let-rowIndex="rowIndex" let-row="row"  ngx-datatable-cell-template>
                <span [matTooltip]="row.obs">{{row.obs}}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Centro de costo" [flexGrow]="3">
            <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
              <span [matTooltip]="row.costSector">{{row.costSector}}</span>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>


        <div>
          <button mat-raised-button color="primary" (click)="send(false)" matStepperNext>Enviar a autorizar</button>
          <span fxFlex="16px"></span>
          <button mat-raised-button color="primary" *ngIf="identity['role'] == 'ROLE_ADMIN'" matStepperNext>Crear y autorizar</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card-content>
</mat-card>