<div class="row" id="ticket">
  <div class="col-md-5 col-lg-5 col-xl-4 text-break" id="ticket-dates">
      <div class="row" id="info">
          <div class="card info-card">
              <div class="container title-container" style="padding-right: 0;padding-left: 0;">
                  <div class="text-center title"><label style="margin-left: 13px;font-size: 24px;"><strong>Información del ticket</strong></label></div>
              </div>
              <div class="card-body info-card">
                  <ul class="list-group">
                      <li class="list-group-item"><span>Número: </span><span><strong>#{{ticket.numTicket}}</strong></span></li>
                      <li class="list-group-item"><span>Creación: </span><span><strong>{{ticket.createDate}}</strong></span></li>
                      <li class="list-group-item"><span>Actualizado: </span><span><strong>{{ticket.lastActivity}}</strong></span></li>
                      <li class="list-group-item">
                          <span>Prioridad: </span>
                          <div class="dropdown d-inline" *ngIf="identity['company']['_id'] == ticket.company['_id']">
                                <button class="btn btn-dark dropdown-toggle dark" data-toggle="dropdown" aria-expanded="false" type="button" style="margin-right: 15px;">
                                  {{ticket.priority}}
                              </button>
                                <div role="menu" class="dropdown-menu dark">
                                      <a role="presentation" class="dropdown-item" *ngIf="ticket.priority != 'Urgente'" (click)="setPriority('Urgente')">
                                        Urgente
                                      </a>
                                      <a role="presentation" class="dropdown-item" *ngIf="ticket.priority != 'Normal'" (click)="setPriority('Normal')">
                                        Normal
                                      </a>
                                  </div>
                            </div>
                            <span *ngIf="identity['company']['_id'] != ticket.company['_id']"><strong>{{ticket.priority}}</strong></span>
                        </li>
                      <li class="list-group-item"><span>Valoración: </span><span><strong *ngIf="ticket.rating != 0">{{ticket.rating}}</strong></span><i *ngIf="ticket.rating != 0" class="fa fa-star"></i></li>
                      <li class="list-group-item"><span>Fuente: </span><span><strong>{{ticket.source}}</strong></span></li>
                      <li class="list-group-item"><span>Etiquetas: </span>
                        <span *ngFor="let tag of ticket.tags">
                          <strong>{{tag.name}}<span>;</span></strong>
                        </span>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="row" id="requester">
          <div class="card info-card">
              <div class="container title-container" style="padding-right: 0;padding-left: 0;">
                  <div class="text-center title"><label style="margin-left: 13px;font-size: 24px;"><strong>Solicitante</strong></label></div>
              </div>
              <div class="card-body info-card">
                  <ul class="list-group">
                      <li class="list-group-item">
                          <div class="row">
                              <div class="col-xl-3">
                                <img *ngIf="ticket.requester.image == 'null'" class="img-requester" src="../../../assets/img/system/user-placeholder.png" />
                                <img *ngIf="ticket.requester.image != 'null'" class="img-requester" src="{{url+'user/image/'+ticket.requester.image}}" />
                              </div>
                              <div class="col-xl-8 align-self-center" *ngIf="ticket.requester">
                                  <div class="row">
                                      <div class="col"><span><strong>{{ticket.requester.name+' '+ticket.requester.surname}}</strong></span></div>
                                  </div>
                                  <div class="row">
                                      <div class="col"><span><em>{{ticket.requester.email}}</em></span></div>
                                  </div>
                              </div>
                          </div>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="row" id="responsibility">
          <div class="card info-card">
              <div class="container title-container">
                  <div class="text-center title"><label style="margin-left: 13px;font-size: 24px;"><strong>Responsabilidad</strong></label></div>
              </div>
              <div class="card-body info-card">
                  <ul class="list-group">

                      <li class="list-group-item"><span style="font-size: 18px;"><strong>Departamento</strong></span>
                        <div class="dropdown d-inline float-right" *ngIf="identity['company']['_id'] == ticket.company['_id']">
                          <button class="btn btn-dark dropdown-toggle dark" data-toggle="dropdown" aria-expanded="false" type="button">
                              Cambiar
                            </button>
                          <div role="menu" class="dropdown-menu">
                            <a role="presentation" class="dropdown-item dark" *ngFor="let company of companies" (click)="selectCompany(company._id, company.name)">
                                {{company.name}}
                            </a>
                        </div>
                      </div>
                      <div style="margin-bottom: 25px;"></div>
                      <img *ngIf="!ticket.company || ticket.company.image == 'null'" class="rounded-circle img-agent-team" src="../../../assets/img/system/company-placeholder.png" />
                      <img *ngIf="ticket.company && ticket.company.image != 'null'" class="rounded-circle img-agent-team" src="{{url+'company/image/'+ticket.company.image}}" />

                      <p *ngIf="!ticket.company" class="d-inline" style="margin-left: 10px;"><strong>Sin departamento</strong></p>
                      <p *ngIf="ticket.company" class="d-inline" style="margin-left: 10px;"><strong>{{ticket.company.name}}</strong></p>
                      <hr />
                        
                      <span style="font-size: 18px;"><strong>Equipo</strong></span>

                        <div class="dropdown d-inline float-right" *ngIf="identity['company']['_id'] == ticket.company['_id']">
                              <button class="btn btn-dark dropdown-toggle dark" data-toggle="dropdown" aria-expanded="false" type="button">
                                  Cambiar
                                </button>
                              <div role="menu" class="dropdown-menu">
                                <a role="presentation" class="dropdown-item dark" *ngFor="let team of teams" (click)="selectTeam(team._id, team.name)">
                                    {{team.name}}
                                </a>
                            </div>
                          </div>
                          <div style="margin-bottom: 25px;"></div>
                          <img *ngIf="!ticket.team || ticket.team.image == 'null'" class="rounded-circle img-agent-team" src="../../../assets/img/system/team-placeholder.png" />
                          <img *ngIf="ticket.team && ticket.team.image != 'null'" class="rounded-circle img-agent-team" src="{{url+'team/image/'+ticket.team.image}}" />

                          <p *ngIf="!ticket.team" class="d-inline" style="margin-left: 10px;"><strong>Sin equipo</strong></p>
                          <p *ngIf="ticket.team" class="d-inline" style="margin-left: 10px;"><strong>{{ticket.team.name}}</strong></p>
                          <hr /><span style="font-size: 18px;"><strong>Agente</strong></span>
                          <div class="dropdown d-inline float-right" *ngIf="identity['company']['_id'] == ticket.company['_id']">
                            <button class="btn btn-dark dropdown-toggle dark" data-toggle="dropdown" aria-expanded="false" type="button">
                              Cambiar
                            </button>
                              <div role="menu" class="dropdown-menu">
                                <a role="presentation" class="dropdown-item dark" *ngFor="let agent of agents" (click)="selectAgent(agent._id, agent.name, agent.surname)">
                                    {{agent.name+' '+agent.surname}}
                                </a>
                              </div>
                          </div>
                          <div style="margin-bottom: 25px;"></div>
                          <img *ngIf="!ticket.agent || ticket.agent.image == 'null'" class="rounded-circle img-agent-team" src="../../../assets/img/system/user-placeholder.png" />
                          <img *ngIf="ticket.agent && ticket.agent.image != 'null'" class="rounded-circle img-agent-team" src="{{url+'user/image/'+ticket.agent.image}}" />
                          
                          <p *ngIf="ticket.agent" class="d-inline" style="margin-left: 10px;"><strong>{{ticket.agent.name+' '+ticket.agent.surname}}</strong></p>
                          <p *ngIf="!ticket.agent" class="d-inline" style="margin-left: 10px;"><strong>Sin agente</strong></p>
                          
                          <div style="margin-top: 10px;" *ngIf="identity['company']['_id'] == ticket.company['_id']">
                            <span>Fecha estimada de solución  </span>
                            <input type="date" style="margin-right: 5px;" #resolveDate="ngModel" name="resolveDate" [(ngModel)]="ticket.resolveDate"  (change)="selectResolveDate()"/>
                        </div>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="row" id="requester-tickets">
          <div class="card info-card">
              <div class="container title-container" style="padding-right: 0;padding-left: 0;">
                  <div class="text-center title">
                      <label style="margin-left: 13px;font-size: 24px;">
                        <strong>Tickets del solicitante</strong>
                    </label>
                </div>
              </div>
              <div class="card-body card-req-tickets">
                  <ul class="list-group">
                      <li class="list-group-item" *ngFor="let reqTicket of reqTickets" >
                          <a [routerLink]="['/ticket-gestion',reqTicket._id]">
                            <span class="border rounded-circle status-buble" [ngClass]="calculateClasses(reqTicket.status)">
                                <strong>{{reqTicket.status}}</strong>
                            </span>
                            <span>
                                <strong>{{reqTicket.sub}}</strong>
                            </span>
                           </a>
                        </li>
                    </ul>
              </div>
          </div>
      </div>
  </div>
  <div class="col-md-6 col-lg-7 col-xl-8">
      <div class="container text-center">
            <input type="text" *ngIf="editSub" name="sub" [(ngModel)]="subMod" />
            <input type="button" class="btn btn-dark dark" *ngIf="editSub" value="Aplicar" (click)="editTicketSub()">
            <input type="button" class="btn btn-danger" *ngIf="editSub" value="Cancelar" (click)="editSub = false">
            <h6 *ngIf="!editSub" class="d-inline" (click)="editSub = true; subMod = ticket.sub">
              <strong>{{ticket.sub}}</strong>
            </h6>
        </div>




      <div class="row">
          <div class="col chatbox-scroll" id="chatbox-scroll">
            <app-chatbox *ngFor="let textblock of chat"
            text={{textblock.text}}
            sign={{textblock.user.sign}}
            type={{textblock.type}}
            user={{textblock.user.name+space+textblock.user.surname}}
            date={{textblock.createDate}}
            files={{textblock.files}}
            ></app-chatbox>
          </div>
          <span></span>
      </div>




      <div class="row" style="margin-top: 10px;">
          <div class="col" id="chat-text" [ngClass]="{privatechattext:isPrivate}">
              <form #form="ngForm" (ngSubmit)="onSubmit()">
                <div class="container">
                  <textarea [readonly]="identity['company']['_id'] != ticket.company['_id']" id="chat-textbox" #text="ngModel" name="text" [(ngModel)]="textblock.text" required placeholder="Ingresa un texto para enviar" style="margin-top: 8px;"></textarea>
                </div>
                <div class="container" id="options-container">
                    <button class="btn btn-primary float-right" [disabled]="identity['company']['_id'] != ticket.company['_id']" type="submit">
                      <i class="fa fa-paper-plane"></i>
                    </button>
                    <input type="checkbox" [disabled]="identity['company']['_id'] != ticket.company['_id']" name="isPrivate" [(ngModel)]="isPrivate" />
                    <span style="margin-left: 5px;margin-right: 5px;">Privado</span><span>|</span>
                    <div class="dropdown d-inline" id="hashtag">
                      <button class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button">
                          <i class="fa fa-hashtag adjunt"></i>
                      </button>


                      <div role="menu" class="dropdown-menu" *ngIf="identity['company']['_id'] == ticket.company['_id']" >
                        <a role="presentation" class="dropdown-item" *ngFor="let resp of responses" (click)="selectHashtag(resp.resp)">
                           {{resp.hashtag}}
                        </a>
                      </div>


                  </div>
                  <label class="d-inline" style="margin-left: 10px;margin-bottom: 0px;margin-top: 0;">
                    <i class="fa fa-paperclip adjunt" style="font-size: 23px;padding-top: 5px;"></i>
                    <input type="file" class="d-none" [disabled]="identity['company']['_id'] != ticket.company['_id']" (change)="fileChangeEvent($event)" />
                    <span *ngIf="filesToUpload">
                        +{{filesToUpload.length}}
                    </span>
                    </label>
                  <div class="dropdown d-inline float-right">
                      <button class="btn btn-dark dropdown-toggle dark" [disabled]="identity['company']['_id'] != ticket.company['_id']" data-toggle="dropdown" aria-expanded="false" type="button" style="margin-right: 15px;">
                        {{ticket.status}}
                    </button>
                      <div role="menu" class="dropdown-menu dark">
                            <a role="presentation" class="dropdown-item" *ngIf="ticket.status != 'Pendiente'" (click)="setStatus('Pendiente')">
                                Pendiente
                            </a>
                            <a role="presentation" class="dropdown-item" *ngIf="ticket.status != 'Finalizado'" (click)="setStatus('Finalizado')">
                                Finalizado
                            </a>
                            <a role="presentation" class="dropdown-item" *ngIf="ticket.status != 'Cerrado'" (click)="setStatus('Cerrado')">
                                Cerrado
                            </a>
                        </div>
                    </div>
              </div>
            </form>
          </div>
      </div>
  </div>
</div>