<!-- First row -->
<!-- <mat-card
  [@animate]="{ value: '*', params: { y: '50px', delay: '300ms' } }"
>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
    <div
      fxFlex="50"
      fxFlex.gt-sm="33"
      fxFlex.sm="50"
    >
      <div class="text-center pt-1 pb-1 border-right-light">
        <mat-icon class="text-green">comment</mat-icon>
        <h4 class="m-0 ">4829</h4>
        <small class="m-0 ">Tickets</small>
      </div>
    </div>
    <div
      fxFlex="50"
      fxFlex.gt-sm="33"
      fxFlex.sm="50"
    >
      <div class="text-center pt-1 pb-1 border-right-light">
        <mat-icon class="text-blue">person</mat-icon>
        <h4 class="m-0 ">102</h4>
        <small class="m-0 ">Usuarios</small>
      </div>
    </div>
    <div
      fxFlex="50"
      fxFlex.gt-sm="33"
      fxFlex.sm="50"
    >
      <div class="text-center pt-1 pb-1">
        <mat-icon class="text-red">list</mat-icon>
        <h4 class="m-0 ">126</h4>
        <small class="m-0 ">Tareas</small>
      </div>
    </div>
  </div>
</mat-card> -->
<!--/ End first row -->

<!-- 2nd, 3rd row -->
<div fxLayout="row wrap">
  <div
    fxFlex="100"
    fxFlex.gt-sm="66.67"
    fxFlex.sm="50"
    [@animate]="{ value: '*', params: { y: '50px', delay: '600ms' } }"
  >
    <mat-card class="p-0 ">
      <mat-tab-group>
        <mat-tab label="Por mes">
          <div
            echarts
            [options]="monthOptions"
            [merge]="month"
            [autoResize]="true"
            style="height: 255px;"
          ></div>
        </mat-tab>
        <mat-tab label="Por día">
          <div
            echarts
            [options]="dayOptions"
            [merge]="day"
            [autoResize]="true"
            style="height: 255px;"
          ></div>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>
  <!--/ End tab -->

  <!-- Donut chart -->
  <div
    fxFlex="100"
    fxFlex.gt-sm="33.33"
    fxFlex.sm="50"
    [@animate]="{ value: '*', params: { y: '50px', delay: '400ms' } }"
  >
    <mat-card class="p-0 ">
      <p class=" ml-1 mt-1">TICKETS RESUELTOS POR AGENTE</p>
      <div
        echarts
        [options]="agentChart"
        [autoResize]="true"
        style="height: 250px;"
      ></div>
    </mat-card>
  </div>
  <!--/ End donut chart -->
  <!--/ End 2nd row -->

  <!-- 3rd row, 1st column -->
  <div
    fxFlex="100"
    fxFlex.gt-sm="33.33"
    fxFlex.sm="50"
    [@animate]="{ value: '*', params: { y: '50px', delay: '800ms' } }"
  >
    <mat-card class="">
      <p class="">10 SOLICITANTES CON MAS TICKETS</p>
      <div
        echarts
        [options]="requesterChartBar"
        [autoResize]="true"
        style="height: 250px;"
      ></div>
    </mat-card>

    <mat-card
      class="p-0"
    >
      <mat-card-title class="mb-1">
        <div class="card-title-text">
          <span class="font-weight-normal">Tickets por equipo</span>
        </div>
        <mat-divider></mat-divider>
      </mat-card-title>
      <mat-card-content>
        <div class="mb-1" *ngFor="let team of teams; let i = index">
          <p class="m-0">
            {{team._id.team.name}} <span class="text-muted">| {{team.count}} | {{getPercentage(team.count)}}%</span>
          </p>
          <mat-progress-bar
            [color]="colors[i]"
            mode="determinate"
            [value]="getPercentage(team.count)"
            class="rounded"
            style="height: 6px"
          >
          </mat-progress-bar>
        </div>

      </mat-card-content>
    </mat-card>
  </div>
  <!--/ End 3rd row, 1st column -->

  <!-- 3rd row, 2nd column -->
  <div
    fxFlex="100"
    fxFlex.gt-sm="66.67"
    fxFlex.sm="50"
    [@animate]="{ value: '*', params: { y: '50px', delay: '1000ms' } }"
  >
   

    <mat-card
      class="p-0 "
      [@animate]="{ value: '*', params: { scale: '.9', delay: '300ms' } }"
    >
      <!-- <mat-table #table [dataSource]="subtypeStats" matSort>
        <ng-container matColumnDef="subtype">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Sub-tipo
          </mat-header-cell>
          <mat-cell *matCellDef="let row" data-label="id">
            {{ row.subtype }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Tipo
          </mat-header-cell>
          <mat-cell *matCellDef="let row" data-label="progress">
            {{ row.type }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="count">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Tickets
          </mat-header-cell>
          <mat-cell *matCellDef="let row" data-label="name">
            {{ row.count }}
          </mat-cell>
        </ng-container>

        <mat-header-row
          *matHeaderRowDef="[
            'subtype',
            'type',
            'count'
          ]"
        ></mat-header-row>
        <mat-row
          *matRowDef="
            let row;
            columns: [
              'subtype',
              'type',
              'count'
            ]
          "
        >
        </mat-row>
      </mat-table> -->

      <ngx-datatable class="material bg-white" 
      [columnMode]="'flex'"  
      [headerHeight]="40"
      [footerHeight]="50" 
      [rowHeight]="50"
      [limit]="8" 
      [rows]="subtypeStats"
      [columns]="columns">
      </ngx-datatable>




    </mat-card>
  </div>
  <!--/ End 3rd row, 2nd column -->
</div>
