<div class="card">
    <div class="card-body">
        <form name="my-form" #form="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="col-sm-5 col-md-5 col-lg-3 card-profile">
                    <img class="img-profile" *ngIf="user.image == 'null'" src="../../../assets/img/system/user-placeholder.png" />
                    <img class="img-profile" *ngIf="user.image != 'null'" src="{{url+'user/image/'+user.image}}" />
                    <label [className]="filesToUpload ? 'btn btn-success' : 'btn btn-dark'" style="margin-top: 7px; width:100%;">
                        Seleccionar una foto
                        <input *ngIf="identity['role'] == 'ROLE_ADMIN' || isUser" type="file" accept="image/*" class="newimg" (change)="fileChangeEvent($event)"/>
                    </label>
                </div>
                <div class="col-sm-7 col-md-7 col-lg-9 card-profile">
                    <h5>Datos personales</h5>
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" [readonly]="identity['role'] != 'ROLE_ADMIN' && !isUser" class="form-control" placeholder="Ingresa aqui el nombre de la persona" #name="ngModel" name="name" [(ngModel)]="user.name" required />
                    </div>
                    <div class="form-group">
                        <label>Apellido</label>
                        <input type="text" [readonly]="identity['role'] != 'ROLE_ADMIN' && !isUser" class="form-control" placeholder="Ingresa aqui el apellido de la persona" #surname="ngModel" name="surname" [(ngModel)]="user.surname" required />
                    </div>
                </div>
            </div>
            <hr/>
            <div class="form-row agent-system">
                <div class="col card-profile">
                    <h5>Datos del sistema</h5>
                    <div class="form-group">
                        <label>ID de usuario</label>
                        <input type="text" [readonly]="identity['role'] != 'ROLE_ADMIN'" class="form-control" required placeholder="Ingresa aqui el ID del usuario" #userName="ngModel" name="userName" [(ngModel)]="user.userName" /></div>
                    <div class="form-group"><label>Contraseña</label>
                        <input type="password" [readonly]="identity['role'] != 'ROLE_ADMIN' && !isUser" class="form-control" placeholder="Ingrese aqui una constraseña" #password="ngModel" name="password" [(ngModel)]="user.password" />
                    </div>
                    <div class="form-check" *ngIf="user.role != 'ROLE_REQUESTER'"><input class="form-check-input" type="checkbox" [disabled]="identity['role'] != 'ROLE_ADMIN'" id="formCheck-1" name="isAdm" [(ngModel)]="isAdm" /><label class="form-check-label" for="formCheck-1">Es administrador</label></div>
                    <div class="form-check"><input class="form-check-input" [disabled]="identity['role'] != 'ROLE_ADMIN' && !isUser" type="checkbox" id="formCheck-1" #receiveMail="ngModel" name="receiveMail" [(ngModel)]="user.receiveMail" /><label class="form-check-label" for="formCheck-1">Recibir notificaciones al correo electronico</label></div>
                    
                </div>
                <div class="col card-profile">
                    <h5>Datos de agente</h5>
                    <div class="form-group"><label>E-mail</label><input type="text" [readonly]="identity['role'] != 'ROLE_ADMIN' && !isUser" class="form-control" inputmode="email" placeholder="Ingrese aqui el e-mail del agente" #email="ngModel" name="email" [(ngModel)]="user.email" /></div>
                    <!-- <div class="form-group"><label>Firma</label><textarea class="form-control" placeholder="Ingrese una firma con la cual quiere ei enviar los mensajes" #sign="ngModel" name="sign" [(ngModel)]="user.sign"></textarea></div> -->
                
                    <div class="row" style="margin-left: 4px;">
                            <button class="btn btn-dark btn-sm" type="button" onclick="document.execCommand('bold');" style="margin-right: 4px;padding-right: 7px; padding-left: 7px"><i class="fa fa-bold"></i></button>
  
                            <button class="btn btn-dark btn-sm" type="button" onclick="document.execCommand('italic');" style="margin-right: 4px; padding-right: 9px; padding-left: 9px"><i class="fa fa-italic"></i></button>
                            
                            <button class="btn btn-dark btn-sm" type="button" onclick="document.execCommand('underline');" style="margin-right: 4px; padding-right: 8px; padding-left: 8px"><i class="fa fa-underline"></i></button>
                            
                            <button class="btn btn-dark btn-sm" type="button" onclick="document.execCommand('createlink', false, prompt('Ingresa la URL:', 'http://'))" style="margin-right: 4px; padding-right: 7px; padding-left: 7px"><i class="fa fa-link"></i></button>
                            
                            <div style="min-height:30px;display:inline;border-left:1px solid gray; margin-right:9px;margin-left:5px"></div>
                            
                            <button class="btn btn-dark btn-sm" type="button" onclick="document.execCommand('insertUnorderedList')" style="margin-right: 4px; padding-right: 7px; padding-left: 7px"><i class="fa fa-list-ul"></i></button>
                            
                            <button class="btn btn-dark btn-sm" type="button" onclick="document.execCommand('insertOrderedList')" style="margin-right: 4px; padding-right: 7px; padding-left: 7px"><i class="fa fa-list-ol"></i></button>
                            
                            <div style="min-height:30px;display:inline;border-left:1px solid gray; margin-right:9px;margin-left:5px"></div>
                            
                            <button class="btn btn-dark btn-sm" type="button" onclick="document.execCommand('justifyLeft')" style="margin-right: 4px; padding-right: 7px; padding-left: 7px"><i class="fa fa-align-left"></i></button>
                            
                            <button class="btn btn-dark btn-sm" type="button" onclick="document.execCommand('justifyCenter')" style="margin-right: 4px; padding-right: 7px; padding-left: 7px"><i class="fa fa-align-center"></i></button>
                            
                            <button class="btn btn-dark btn-sm" type="button" onclick="document.execCommand('justifyRight')" style="margin-right: 4px; padding-right: 7px; padding-left: 7px"><i class="fa fa-align-right"></i></button>
                            
                        </div>
  
                        <div class="row" style="margin-top: 8px;margin-left: 4px;">
                            <div id="editable" [contentEditable]="identity['role'] == 'ROLE_ADMIN' || isUser"
                            (input)="user.sign = $event.target.innerHTML"
                            >
                              <span contentEditable="false"></span>
                            </div>
                        </div>
                        <script src="../../../assets/scripts/chatbox.js"></script>
  

                </div>
            </div>
            <div class="form-row" *ngIf="identity['role'] == 'ROLE_ADMIN' || isUser">
                <div class="col confirm">
                    <button class="btn btn-danger btn-lg float-right" *ngIf="identity['role'] == 'ROLE_REQUESTER'" [routerLink]="['/home']" type="button">
                        Cancelar
                    </button>
                    <button class="btn btn-danger btn-lg float-right" *ngIf="identity['role'] != 'ROLE_REQUESTER'" [routerLink]="['/agent']" type="button">
                        Cancelar
                    </button>
                    <button class="btn btn-success btn-lg float-right acept" type="submit">
                        Aceptar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>