<div class="row" (click)="hideContextMenu()">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h4>Finalizadas</h4>
            </div>
            <div class="card-body"
            >
                <div class="row">
                    <div class="col-3" *ngFor="let task of taskFinished"  
                    >
                        <div class="card task-finished task"  (click)="showModalTask(task)"
                        (contextmenu)="onRightClick($event, task)"
                        >
                            <div class="card-body">
                                <h5 class="task-title">
                                    <i *ngIf="task.priority == 'Urgente'" class="fa fa-exclamation-circle" style="color: rgb(255,0,0);"></i>
                                    <strong>{{task.name}}</strong>
                                </h5>
                                <p class="task-desc">{{task.desc}}</p>
                                <span class="task-desc text-muted">{{changeDate(task.dateWork)}}</span>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="dropdown-menu dropdown-menu-sm" id="context-menu">
    <a class="dropdown-item" (click)="showModal()">Ver detalle</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" (click)="revertTask()" >Devolver a tarea pendiente</a>
</div>


<div role="dialog" tabindex="-1" id="task-detail" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="border: 1px solid #018dda">
            <div class="modal-header" style="background-color: #018dda;color: rgb(255,255,255);" *ngIf="taskInContext">
                <h4 class="modal-title">{{taskInContext.name}}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="d-block">Descripción:</label>
                        <textarea class="d-block form-control" readonly [(ngModel)]='taskInContext.desc'></textarea>
                        <hr />
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend"><span class="input-group-text">Equipo responsable</span></div>
                            <input type="text" class="form-control" readonly [(ngModel)]='taskInContext.teamWork["name"]' />
                        </div>
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend"><span class="input-group-text">Agente responsable</span></div>
                            <input type="text" class="form-control" readonly [(ngModel)]='taskInContext.userWork["name"]' />
                        </div>
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend"><span class="input-group-text">Creado por</span></div>
                            <input type="text" class="form-control" readonly [(ngModel)]='taskInContext.createdBy["name"]' />
                        </div>
                        <hr />
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend"><span class="input-group-text">Fecha de creación</span></div>
                            <input type="text" class="form-control" readonly [(ngModel)]='taskInContext.dateCreated' />
                        </div>
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend"><span class="input-group-text">Fecha límite</span></div>
                            <input type="text" class="form-control" readonly [(ngModel)]='taskInContext.dateLimit' />
                        </div>
                    </div>
                    <hr />
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend"><span class="input-group-text">Estado</span></div>
                        <input type="text" class="form-control" readonly [(ngModel)]='taskInContext.status' />
                    </div>
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend"><span class="input-group-text">Prioridad</span></div>
                        <input type="text" class="form-control" readonly [(ngModel)]='taskInContext.priority' />
                    </div>
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend"><span class="input-group-text">Etiqueta</span></div>
                        <input type="text" class="form-control" readonly [(ngModel)]='taskInContext.tag' />
                    </div>
                </div>
            <div class="modal-footer">
                <button class="btn btn-light" type="button" data-dismiss="modal">Cerrar</button>
                <button class="btn btn-dark dark" type="button" data-dismiss="modal" (click)="revertTask()">Devolver</button>
            </div>
        </div>
    </div>
</div>