<h1 matDialogTitle>{{data.title}}</h1>

<mat-card class="p-0">
  <mat-card-content>
    <form>
        <div fxLayout="row wrap" fxLayout.lt-sm="column">
            <div fxFlex="100" class="pr-1">
                <mat-form-field class="full-width">
                    <input type="text"
                        placeholder="Nombre"
                        aria-label="Text"
                        matInput
                        [(ngModel)]='type.name' name='name'>
                </mat-form-field>
            </div>

            <div fxLayout="row">
                <button mat-raised-button color="primary" (click)="submit()" matStepperNext>Guardar</button>
            </div>
        </div>
    </form>
  </mat-card-content>
</mat-card>
