.illustration{
    margin-top: -40px;
}

.form-login{
    opacity: 1;
    height: 600px;
    background-repeat: no-repeat;
}


.dark {
    background-color: #1e2833;
    color: white;
  }

  a.dark{
      color: white;
  }
  
  

  .logo{
      width: 50%;
  }