<div class="d-inline-block" id="mini-chat">
    <div class="row" class="mini-chat-header" >
        <div class="col" style="padding: 0px;" *ngIf="identity['role'] == 'ROLE_REQUESTER'">
            <button (click)="show()" class="btn btn-sm" type="button" style="padding-top: 0px;padding-bottom: 0px;">
                <i class="fa fa-window-minimize" style="color: rgb(255,255,255);"></i>
            </button>
            <button (click)="finishChat()" class="btn btn-sm float-right" type="button" style="padding-top: 0px;padding-bottom: 0px;">
                <i class="fa fa-window-close" style="color: rgb(255,255,255);"></i>
            </button>
            <h4 class="mini-chat-hello">¡Hola {{identity['name']}}!</h4>
                <p class="mini-chat-desc">Chatea con nosotros por cualquier consulta.</p>
        </div>

        <div class="col" style="padding: 0px;" *ngIf="identity['role'] != 'ROLE_REQUESTER'">
            <button (click)="show()" class="btn btn-sm" type="button" style="padding-top: 0px;padding-bottom: 0px;">
                <i class="fa fa-window-minimize" style="color: rgb(255,255,255);"></i>
            </button>
            <button *ngIf="chat" (click)="finishChat()" class="btn btn-sm float-right" type="button" style="padding-top: 0px;padding-bottom: 0px;">
                <i class="fa fa-window-close" style="color: rgb(255,255,255);"></i>
            </button>
        </div>

    </div>

    <span *ngIf="identity['role'] == 'ROLE_REQUESTER'">
        <!-- SECTOR -->
        <div class="row selectButton" *ngIf="!chat">
            <div class="col">
                <p class="text-center">Selecciona el sector.</p>
                <div class="text-center" style="margin-bottom: 5px;" *ngFor="let company of companies">
                    <button class="btn btn-primary" type="button" (click)="companySelected(company)">
                        <strong>{{company.name}}</strong>
                    </button>
                </div>
            </div>
        </div>
        <!-- EQUIPO -->
        <div class="row selectButton" *ngIf="chat && chat['company'] && !chat['team']">
            <div class="col" *ngIf="inTime()">
                <p class="text-center">Selecciona el equipo.</p>
                <div class="text-center" style="margin-bottom: 5px;" *ngFor="let team of teams" (click)="teamSelected(team)">
                    <button class="btn btn-primary" type="button">
                        <strong>{{team.name}}</strong>
                    </button>
                </div>
            </div>
            <div class="col" *ngIf="!inTime()">
                <p class="text-center">El horario de atención de {{company.name}} es de {{company.chatScheduleFrom}}hs a {{company.chatScheduleTo}}hs.</p>
                <div class="text-center" style="margin-bottom: 5px;" (click)="back()">
                    <button class="btn btn-primary" type="button">
                        <strong>Volver</strong>
                    </button>
                </div>
            </div>
        </div>
        <div class="row mini-chat-container"  *ngIf="this.chat != undefined && this.chat != null && this.chat['company'] != undefined && this.chat['team'] != undefined">
            <div class="col">
                <div *ngIf="chat" id="chat-req" class="chatbox">
                    <div *ngFor="let message of messages" id="chat-online">
                        <div class="media w-50 mb-3" *ngIf="message.user['role'] != 'ROLE_REQUESTER'">
                            <img *ngIf="!message.user || message.user['image'] == 'null'" alt="user" width="40" class="rounded-circle" src="../../../assets/img/system/user-placeholder.png" />
                            <img *ngIf="message.user && message.user['image'] != 'null'" src="{{url+'user/image/'+message['user']['image']}}" alt="user" width="40" class="rounded-circle" />
                            <div class="media-body ml-3">
                                <p class="small mb-0 text-muted" >
                                    {{message.text}}
                                    
                                </p>
                                
                                <p class="small text-muted" style="margin-bottom: 0px">{{changeDate(message.date)}}</p>
                                <i class="fa fa-check float-right" style="font-size: 8px;"></i>
                                <i *ngIf="message.readed" class="fa fa-check float-right" style="font-size: 8px;"></i>
                            </div>
                        </div>
    
    
                        <div class="media w-50 ml-auto mb-3" *ngIf="message.user['role'] == 'ROLE_REQUESTER'">
                            <div class="media-body">
                                <div class="bg-primary rounded py-2 px-3 mb-2">
                                    <p class="small mb-0 text-white">{{message.text}}</p>
                                </div>
                                
                                <p class="small text-muted" style="margin-bottom: 0px">{{changeDate(message.date)}}</p>
                                <i class="fa fa-check float-right" style="font-size: 8px;"></i>
                                <i *ngIf="message.readed" class="fa fa-check float-right" style="font-size: 8px;"></i>
                            </div>
                        </div>
    
    
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-right: 0px;margin-left: 0px;" *ngIf="this.chat != undefined && this.chat != null && this.chat['company'] != undefined && this.chat['team'] != undefined">
            <div class="col">
                <form style="padding: 9px;" #chatForm="ngForm" (ngSubmit)="send()">
                    <textarea *ngIf="!chat['finishedAgent']" id="text" #text (change)="message.text = text.value" class="form-control form-control-sm" placeholder="Mensaje" autofocus style="resize: none;font-size: 13px;" rows="2"></textarea>
                    <div *ngIf="chat['finishedAgent']" class="form-group">
                        <p style="font-size:small;">El agente finalizó el chat, por favor, no te olvides de valorar tu experiencia.</p>
                    </div>
                    
                    <button *ngIf="identity['role'] == 'ROLE_REQUESTER'" (click)="like(1)" [className]="chat.rating == 1 ? 'btn btn-success btn' : 'btn btn-success btn-sm'" type="button" style="margin: 6px;"><i class="fa fa-thumbs-up"></i></button>
                    <button *ngIf="identity['role'] == 'ROLE_REQUESTER'" (click)="like(-1)" [className]="chat.rating == -1 ? 'btn btn-danger btn' : 'btn btn-danger btn-sm'" type="button" style="margin: 6px;"><i class="fa fa-thumbs-down"></i></button>
                    <button *ngIf="!chat['finishedAgent']" class="btn btn-dark btn-sm float-right dark" type="submit" style="margin: 6px;"><i class="fa fa-paper-plane"></i></button>
                </form>
            </div>
        </div>
    
    </span>
    <span *ngIf="identity['role'] != 'ROLE_REQUESTER'">
        <div>
            <ul class="nav nav-tabs" style="font-size: 11px;">
                <li class="nav-item">
                    <a role="tab" id="principal-tab" data-toggle="tab" class="nav-link active" (click)="back()" href="#principal">Principal</a>
                </li>
                <li class="nav-item" *ngFor="let chat of myChats">
                    <a role="tab" id="chat-tab" data-toggle="tab" class="nav-link" href="#chat" (click)="selectChat(chat)" >
                        {{chat.requester['name']}} {{chat.requester['surname']}}
                        <i *ngIf="notifications && checkNotifications(chat._id)" class="fa fa-circle float-right" style="color: rgb(255,62,62);font-size: 6px;"></i>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="principal">
                    <div>
                        <div class="row" id="free">
                            <div class="col" style="height: 310px; overflow-y: auto;">
                                <div class="table-responsive" id="freetable">
                                    <table class="table table-hover" style="font-size: 11px;">
                                        <thead>
                                            <tr >
                                                <th>Usuario</th>
                                                <th>Fecha</th>
                                                <th class="text-center">Mensaje</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let chat of chats">
                                                <td (click)="takeChat(chat)">{{chat.requester['name']}} {{chat.requester['surname']}}</td>
                                                <td (click)="takeChat(chat)">{{changeDate(chat.date)}}</td>
                                                <td class="text-center" style="padding: 0px;">
                                                    <div class="dropdown d-inline">
                                                        <button class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button">
                                                            <i class="fa fa-info"></i>
                                                        </button>
                                                        
                                                        <div role="menu" class="dropdown-menu" >
                                                          <span >
                                                            <span class="card" style="padding: 5px;border: 1px solid gray;">
                                                              {{chat['prevText']}}
                                                            </span>  
                                                          </span>
                                                        </div>
                                  
                                  
                                                    </div>
                              

                                                    <!-- <button class="btn btn-primary btn-sm border rounded-circle" type="button" style="width: 20px;height: 20px;padding: 0px;">
                                                        <i class="fa fa-info"></i>
                                                    </button> -->
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="chat" style="height: 300px;">
                    <div class="row mini-chat-container">
                        <div class="col">
                            <div *ngIf="chat" id="{{chat._id}}" class="chatbox">
                                <div *ngFor="let message of messages" id="chat-online">
                                    <div class="media w-50 mb-3" *ngIf="message.user['role'] != 'ROLE_REQUESTER'">
                                        <img *ngIf="!message.user || message.user['image'] == 'null'" alt="user" width="40" class="rounded-circle" src="../../../assets/img/system/user-placeholder.png" />
                                        <img *ngIf="message.user && message.user['image'] != 'null'" src="{{url+'user/image/'+message['user']['image']}}" alt="user" width="40" class="rounded-circle" />
                                        <div class="media-body ml-3">
                                            <p class="small mb-0 text-muted">{{message.text}}</p>
                                            <p class="small text-muted" style="margin-bottom: 0px">{{changeDate(message.date)}}</p>
                                            <i class="fa fa-check float-right" style="font-size: 8px;"></i>
                                            <i *ngIf="message.readed" class="fa fa-check float-right" style="font-size: 8px;"></i>
        
                                        </div>
        
                                    </div>

                
                                    <div class="media w-50 ml-auto mb-3" *ngIf="message.user['role'] == 'ROLE_REQUESTER'">
                                        <div class="media-body">
                                            <div class="bg-primary rounded py-2 px-3 mb-2">
                                                <p class="small mb-0 text-white">{{message.text}}</p>
                                            </div>
                                            <p class="small text-muted" style="margin-bottom: 0px">{{changeDate(message.date)}}</p>
                                            <i class="fa fa-check float-right" style="font-size: 8px;"></i>
                                            <i *ngIf="message.readed" class="fa fa-check float-right" style="font-size: 8px;"></i>
        
                                        </div>
        
                                    </div>

                
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-right: 0px;margin-left: 0px;" *ngIf="this.chat != undefined && this.chat['company'] != undefined && this.chat['team'] != undefined">
                        <div class="col">
                            <form style="padding: 9px;" #chatForm="ngForm" (ngSubmit)="send()">
                                <textarea *ngIf="!chat['finishedRequester']" id="text" #text (change)="message.text = text.value" class="form-control form-control-sm" placeholder="Mensaje" autofocus style="resize: none;font-size: 13px;" rows="2"></textarea>
                                <div *ngIf="chat['finishedRequester']" class="form-group">
                                    <p style="font-size:small;">El solicitante finalizó el chat.</p>
                                </div>
                                <div class="dropup d-inline" *ngIf="identity['role'] != 'ROLE_REQUESTER'" >
                                    <button class="btn btn-dark btn-sm dark" data-toggle="dropdown" aria-expanded="false" type="button" style="margin: 6px;">
                                        <i class="fas fa-sync"></i>
                                    </button>
                                    <div role="menu" class="dropdown-menu">
                                        <a *ngFor="let user of users" role="presentation" class="dropdown-item" (click)="changeAgent(user)">
                                            <span *ngIf="user._id != identity['_id']">
                                                {{user.name}} {{user.surname}}
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <button *ngIf="!chat['finishedRequester']" class="btn btn-dark btn-sm float-right dark" type="submit" style="margin: 6px;"><i class="fa fa-paper-plane"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </span>
</div>