.body-cell {
    width: 25em;
    margin: 0 0 2em 0;
    text-overflow: ellipsis;
    overflow: hidden;
}

.sesion-container{
    height: 150px;
    overflow-y: auto;
}

.selected{
    background-color: #018dda;
    color: white;
} 

.closed{
    background-color: #F1F1F1;
    font-style: italic;
}
