<div class="card-body">
    <div class="row">
        <div class="col-lg-10">
            <input type="button" class="btn btn-dark" value="Nuevo equipo" [routerLink]="['/team/new']">
        </div>
    </div>
    <div class="table-responsive table mt-2" id="dataTable">
        <table class="table dataTable my-0" id="dataTable">
            <thead>
                <tr>
                    <th>Img</th>
                    <th>Nombre</th>
                    <th>Usuarios</th>
                </tr>
            </thead>
            <tbody *ngFor="let team of teams">
                <tr class="select" [routerLink]="['/team/edit',team._id]">
                    <td data-title="Img">
                        <img *ngIf="team.image == 'null'" class="rounded-circle mr-2" width="30" height="30" src="../../../assets/img/system/team-placeholder.png" />
                        <img *ngIf="team.image != 'null'" class="rounded-circle mr-2" width="30" height="30" src="{{url+'team/image/'+team.image}}" />
                    </td>
                    <td data-title="Nombre">{{team.name}}</td>
                    <td data-title="Usuarios" >
                        <span *ngIf="team.users">{{cantUsers(team.users)}}</span>
                        <span *ngIf="!team.users">0</span>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td><strong>Img</strong></td>
                    <td><strong>Nombre</strong></td>
                    <td><strong>Usuarios</strong></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>