<div role="dialog" tabindex="-1" id="news" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="border: 1px solid #018dda">
            <div class="modal-header" style="background-color: #018dda;color: rgb(255,255,255);">
                <h4 class="modal-title">¡Novedades! - Versión 1.3.5 (24/07/2020)</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
            <div class="modal-body">
                <div>
                    <h4><strong>CAMBIOS</strong></h4>
                    <ul style="list-style-type: inherit;">
                        <li style="font-size: 15px;">
                            Fuente del sistema cambiada ligeramente.
                        </li>
                        <li style="font-size: 15px;">
                            Añadido un mensaje de confirmación de "ticket creado".
                        </li>
                    </ul>
                </div>

                <div *ngIf="identity['role'] != 'ROLE_REQUESTER'">
                    <h4><strong>FIX PARA AGENTES</strong></h4>
                    <ul style="list-style-type: inherit;">
                        <li style="font-size: 15px;">
                            A partir de ahora, los agentes también pueden ser añadidos en copia a los tickets.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Cerrar</button></div>
        </div>
    </div>
</div>