<div role="dialog" tabindex="-1" class="modal fade" id="passforgot">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Recuperar contraseña</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                
                <form name="my-form" #form="ngForm" (ngSubmit)="onSubmit()">
                    <div class="modal-body">
                        <label>Se le enviará un correo para recuperar su contraseña</label>
                        <div *ngIf="alertMessage != ''" class="alert alert-danger" role="alert">
                            {{alertMessage}}
                        </div>
                        <div class="form-group">
                            <input type="text" (keydown)="this.alertMessage = ''" class="form-control" required placeholder="Nombre de usuario" [(ngModel)]="forgotUserName" name="forgotUserName"/>
                        </div>
                    </div>
                <div class="modal-footer">
                    <button class="btn btn-dark" type="submit">
                        Enviar
                    </button>
              </div>
            </form>
        </div>
      </div>
</div>