<mat-card>
  <button mat-raised-button matTooltip="Nuevo tipo de ticket" (click)="openPopUp(null, true)" color="primary"><mat-icon mat-list-icon >add</mat-icon></button>
</mat-card>
<mat-accordion>
  <mat-expansion-panel *ngFor="let type of types; let i = index">
    <mat-expansion-panel-header>
      {{type.name}}
    </mat-expansion-panel-header>

    <mat-list>
      <mat-list-item *ngFor="let subtype of subtypes[i]">
        <button mat-icon-button matTooltip="Configurar subtipo" color="accent">
          <a [routerLink]="[ '/settings/ticket/subtype', subtype._id ]">
            <mat-icon mat-list-icon>settings</mat-icon>
          </a>
        
        </button>
        <div mat-line>{{subtype.name}}</div>
        <div mat-line *ngIf="subtype.team"> {{subtype.team['name']}} </div>
      </mat-list-item>
      <mat-list-item>
        <a [routerLink]="[ '/settings/ticket/newsubtype', type._id]">
          <button mat-raised-button [matTooltip]="'Nuevo subtipo en '+type.name" color="primary"><mat-icon mat-list-icon >add</mat-icon></button>

        </a>
        <button mat-raised-button [matTooltip]="'Configurar tipo '+type.name" (click)="openPopUp(type, false)" color="accent"><mat-icon mat-list-icon>settings</mat-icon></button>
        <button mat-raised-button (click)="deleteType(type)" [matTooltip]="'Eliminar tipo '+type.name" color="warn"><mat-icon mat-list-icon>delete</mat-icon></button>

      </mat-list-item>
    </mat-list>


  </mat-expansion-panel>
</mat-accordion>