<div class="card">
  <div class="card-body">
      <form #form="ngForm" (ngSubmit)="onSubmit()">
          <div class="form-row">
              <div class="col-sm-6 col-md-5 col-lg-5 col-xl-5 card-profile">
                  <h5>Datos del solicitante</h5>
                  <div class="form-group">

                      <div class="dropdown d-inline" (click)="focus()">
                          <button class="btn btn-dark dark dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span *ngIf="!requester">Solicitante</span>
                              <span *ngIf="requester">{{requester.name+' '+requester.surname}}</span>
                          </button>        
                          <div class="dropdown-menu"  >
                              <input type="text" id="searchrequester" class="form-control form-control dropdown-search-input" placeholder="Buscar.." (keyup)="filterRequester()" [(ngModel)]="requesterFilter" name="requesterFilter"/>                         
                              <span *ngIf="keyPress">
                                  <a class="dropdown-item dark" *ngFor="let requester of requesters" (click)="setRequester(requester)">
                                      {{requester.name+' '+requester.surname}}
                                  </a>    
                              </span>
                          </div>
                      </div>

                      <a (click)="createRequester()">
                          <button class="btn btn-dark dark" type="button" data-toggle="modal" data-target="#createRequester">
                              Nuevo solicitante
                          </button>    
                      </a>
                    </div>
                  <div class="form-row">
                      <div class="col-xl-5">
                          <img *ngIf="requester && requester.image != 'null'" style="width: 150px;height: 150px;" src="#" />
                          <img *ngIf="!requester || requester.image == 'null'" style="width: 150px;height: 150px;" src="../../../assets/img/system/user-placeholder.png" />
                      </div>
                      <div class="col-xl-6 align-self-center" *ngIf="requester">
                          <div class="form-row">
                              <div class="col"><span><strong>{{requester.name}}</strong></span></div>
                          </div>
                          <div class="form-row">
                              <div class="col"><span><em>{{requester.email}}</em></span></div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-sm-6 col-md-7 col-lg-7 col-xl-7">
                  <h5>Datos del ticket</h5>
                      <div class="form-group"><label><span class="required">*</span> Asunto</label>
                        <input required class="form-control" #sub="ngModel" name="sub" [(ngModel)]="ticket.sub" type="text" required placeholder="Ingresa aqui el asunto del ticket" /></div>
                      <div class="form-group"><label><span class="required">*</span> Requerimiento</label>
                        <label class="d-inline" style="margin-left: 10px;margin-bottom: 0px;margin-top: 0;">
                          <i class="fa fa-paperclip adjunt" style="font-size: 23px;padding-top: 5px;"></i>
                          <input class="d-none" type="file" multiple (change)="fileChangeEvent($event)"/>
                          <span *ngIf="filesToUpload">
                              +{{filesToUpload.length}}
                          </span>
                        </label>
                        <span *ngIf="filesToUpload">
                          <a class="btn btn-danger" style="margin-left: 8px; color: white;margin-bottom: 8px; margin-top: 0px;" (click)=cleanAttach()>
                            <i class="fa fa-trash"></i>
                          </a>    
                        </span>  
                        <span>
                      
                          <div class="row">
                              <button class="btn btn-dark btn-sm" type="button" onclick="document.execCommand('bold');" style="margin-right: 4px;padding-right: 7px; padding-left: 7px"><i class="fa fa-bold"></i></button>
    
                              <button class="btn btn-dark btn-sm" type="button" onclick="document.execCommand('italic');" style="margin-right: 4px; padding-right: 9px; padding-left: 9px"><i class="fa fa-italic"></i></button>
                              
                              <button class="btn btn-dark btn-sm" type="button" onclick="document.execCommand('underline');" style="margin-right: 4px; padding-right: 8px; padding-left: 8px"><i class="fa fa-underline"></i></button>
                              
                              <button class="btn btn-dark btn-sm" type="button" onclick="document.execCommand('createlink', false, prompt('Ingresa la URL:', 'http://'))" style="margin-right: 4px; padding-right: 7px; padding-left: 7px"><i class="fa fa-link"></i></button>
                              
                              <div style="min-height:30px;display:inline;border-left:1px solid gray; margin-right:9px;margin-left:5px"></div>
                              
                              <button class="btn btn-dark btn-sm" type="button" onclick="document.execCommand('insertUnorderedList')" style="margin-right: 4px; padding-right: 7px; padding-left: 7px"><i class="fa fa-list-ul"></i></button>
                              
                              <button class="btn btn-dark btn-sm" type="button" onclick="document.execCommand('insertOrderedList')" style="margin-right: 4px; padding-right: 7px; padding-left: 7px"><i class="fa fa-list-ol"></i></button>
                              
                              <div style="min-height:30px;display:inline;border-left:1px solid gray; margin-right:9px;margin-left:5px"></div>
                              
                              <button class="btn btn-dark btn-sm" type="button" onclick="document.execCommand('justifyLeft')" style="margin-right: 4px; padding-right: 7px; padding-left: 7px"><i class="fa fa-align-left"></i></button>
                              
                              <button class="btn btn-dark btn-sm" type="button" onclick="document.execCommand('justifyCenter')" style="margin-right: 4px; padding-right: 7px; padding-left: 7px"><i class="fa fa-align-center"></i></button>
                              
                              <button class="btn btn-dark btn-sm" type="button" onclick="document.execCommand('justifyRight')" style="margin-right: 4px; padding-right: 7px; padding-left: 7px"><i class="fa fa-align-right"></i></button>
                              
                          </div>
    
                          <div class="row" style="margin-top: 8px;">
                              <div id="editable" contentEditable="true" class="text-chat"
                              
                              (input)="textblock.text = $event.target.innerHTML"
                              (paste)="pastePicture($event)"

                              >
                                <span id="antieditable" contentEditable="false"></span>
                              </div>
                          </div>
                      
                          <script src="../../../assets/scripts/chatbox.js"></script>
                        </span>
    
                        <!-- <textarea required placeholder="Describa el requerimiento solicitado" class="form-control message" #text="ngModel" name="text" [(ngModel)]="textblock.text"></textarea> -->
                      </div>
                      <div class="form-group">
                          <div class="dropdown d-inline">
                            <button class="btn btn-dark dropdown-toggle d-inline dark" data-toggle="dropdown" aria-expanded="false" type="button" style="width: 118px;">
                              <span *ngIf="priority != ''">{{priority}}</span>
                              <span *ngIf="priority == ''">Prioridad</span>
                            </button>
                              <div class="dropdown-menu" role="menu">
                                  <a role="presentation" class="dropdown-item" *ngIf="ticket.priority != 'Urgente'" (click)="setPriority('Urgente')">
                                    Urgente
                                  </a>
                                  <a role="presentation" class="dropdown-item" *ngIf="ticket.priority != 'Normal'" (click)="setPriority('Normal')">
                                    Normal
                                  </a>
                                </div>
                          </div>
                          <div class="dropdown d-inline">
                            <button class="btn btn-dark dropdown-toggle d-inline dark" data-toggle="dropdown" aria-expanded="false" type="button" style="width: 118px;margin-right: 5px;margin-left: 5px;">
                              <span *ngIf="!team">Equipo</span>
                              <span *ngIf="team">{{team.name}}</span>
                            </button>
                              <div class="dropdown-menu" role="menu">
                                <a class="dropdown-item" role="presentation" *ngFor="let t of teams" (click)="setTeam(t)">
                                  {{t.name}}
                                </a>
                              </div>
                          </div>
                          <div class="dropdown d-inline" *ngIf="team">
                            <button class="btn btn-dark dropdown-toggle d-inline dark" data-toggle="dropdown" aria-expanded="false" type="button" style="width: 118px;">
                                <span *ngIf="!agent">Agente</span>
                                <span *ngIf="agent">{{agent.name+' '+agent.surname}}</span>
                            </button>
                              <div class="dropdown-menu" role="menu">
                                <a class="dropdown-item" role="presentation" *ngFor="let a of agents" (click)="setAgent(a)">
                                  {{a.name+' '+a.surname}}
                                </a>
                              </div>
                          </div>
                      </div><label class="d-inline" style="margin-left: 10px;margin-bottom: 0px;margin-top: 0;"><input class="d-none" type="file" /></label>
              </div>
          </div>
          <hr />
          <div class="form-row">
              <div class="col confirm">
                <button class="btn btn-success btn-lg float-right acept dark" type="submit">
                  Aceptar
                </button>
              </div>
          </div>
      </form>
  </div>
</div>



<div role="dialog" tabindex="-1" class="modal fade" id="createRequester">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="border: 1px solid #018dda">
        <div class="modal-header" style="background-color: #018dda;color: rgb(255,255,255);">
            <h4 class="modal-title" style="color: rgb(255,255,255);">Nuevo solicitante</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
            <form #form="ngForm" (ngSubmit)="submitRequester()">
                <div class="modal-body">

                    <div class="form-group">
                        <h4>Datos personales</h4>
                        <label>Nombre</label>
                        <input placeholder="Ingrese el nombre" #name="ngModel" name="name" [(ngModel)]="nreq.name" required type="text" class="form-control" />
                        <label>Apellido</label>
                        <input placeholder="Ingrese el apellido" #surname="ngModel" name="surname" [(ngModel)]="nreq.surname" required type="text" class="form-control" />
                    </div>

                    <div class="form-group">
                        <h4>Datos de sistema</h4>
                        <label>ID de usuario</label>
                        <input placeholder="Ingrese el nombre de usuario" #userName="ngModel" name="userName" [(ngModel)]="nreq.userName" required type="text" class="form-control" />
                        <label>Constraseña</label>
                        <input placeholder="Ingrese la contraseña" #password="ngModel" name="password" [(ngModel)]="nreq.password" required type="password" class="form-control" />
                    </div>

                    <div class="form-group">
                        <h4>Datos de solicitante</h4>
                        <label>Sector</label>
                          <select class="custom-select" (change)="setSector($event.target.value)">
                            <option selected>Seleccionar sector</option>
                            <option *ngFor="let sector of sectors" [value]="sector._id">{{sector.name}}</option>
                          </select>
                        <label>Email</label>
                        <input placeholder="Ingrese el email" #email="ngModel" name="email" [(ngModel)]="nreq.email" required type="text" class="form-control" />
                    </div>


                </div>
                <div class="modal-footer">
                  <button class="btn btn-light" type="button" data-dismiss="modal">
                    Cerrar
                  </button>
                  <button class="btn btn-dark" type="submit">
                    Guardar
                  </button>
                </div>
            </form>
        </div>
    </div>
</div>

<app-message></app-message>
