
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-8 col-lg-8 col-xl-8">
                <h1 style="font-family: Nunito, sans-serif; text-align: center;" *ngIf="identity['company']">Panel principal - {{identity['company']['name']}}</h1>
                <h1 style="font-family: Nunito, sans-serif; text-align: center;" *ngIf="!identity['company']">Panel principal</h1>            
            </div>
            <div class="col-sm-12 col-md-4" *ngIf="identity['role'] != 'ROLE_REQUESTER'">
                <a [routerLink]="['/calendar']">
                    <div [ngClass]="getBorderClass()">
                        <div class="card-body">
                            <div class="row align-items-center no-gutters">
                                <div class="col mr-2">
                                    <div *ngIf="status == 'AL_DIA'" class="text-uppercase text-success font-weight-bold text-xs mb-1"><span>Estas al dia</span></div>
                                    <div *ngIf="status == 'PENDIENTE'" class="text-uppercase text-warning font-weight-bold text-xs mb-1"><span>Tenes tareas para hoy</span></div>
                                    <div *ngIf="status == 'ATRASADO'" class="text-uppercase text-danger font-weight-bold text-xs mb-1"><span>Tenes tareas atrasadas</span></div>
                                </div>
                                <div class="col-auto"><i class="far fa-calendar-alt fa-2x text-gray-300"></i></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 offset-lg-0 offset-xl-0">
                <a [routerLink]="['/ticket/1',10,'Pendiente',identity['_id']]">
                    <div class="card shadow border-left-warning py-2">
                        <div class="card-body">
                            <div class="row align-items-center no-gutters">
                                <div class="col mr-2">
                                    <div class="text-uppercase text-warning font-weight-bold text-xs mb-1"><span>TICKETS PENDIENTES</span></div>
                                    <div class="text-dark font-weight-bold h5 mb-0"><span *ngIf="identity['role'] != 'ROLE_REQUESTER'">{{pending}}</span><span *ngIf="identity['role'] == 'ROLE_REQUESTER'">{{pending+open}}</span></div>
                                </div>
                                <div class="col-auto"><i class="fas fa-comments fa-2x text-gray-300"></i></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 offset-lg-0 offset-xl-0" *ngIf="identity['role'] != 'ROLE_REQUESTER'">
                <a [routerLink]="['/ticket/1',10,'Abierto']">
                    <div class="card shadow border-left-info py-2">
                        <div class="card-body">
                            <div class="row align-items-center no-gutters">
                                <div class="col mr-2">
                                    <div class="text-uppercase text-info font-weight-bold text-xs mb-1"><span>TICKETS ABIERTOS</span></div>
                                    <div class="text-dark font-weight-bold h5 mb-0"><span>{{open}}</span></div>
                                </div>
                                <div class="col-auto"><i class="fas fa-comments fa-2x text-gray-300"></i></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 offset-lg-0 offset-xl-0">
                <a [routerLink]="['/ticket/1',10,'Finalizado',identity['_id']]">
                    <div class="card shadow border-left-success py-2">
                        <div class="card-body">
                            <div class="row align-items-center no-gutters">
                                <div class="col mr-2">
                                    <div class="text-uppercase text-success font-weight-bold text-xs mb-1"><span>TICKETS RESUELTOS</span></div>
                                    <div class="text-dark font-weight-bold h5 mb-0"><span>{{finish+close}}</span></div>
                                </div>
                                <div class="col-auto"><i class="fas fa-comments fa-2x text-gray-300"></i></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<hr/>
<div class="card" style="border: 1px solid #A5A5A5;padding-top: 10px;" *ngIf="identity['role'] != 'ROLE_REQUESTER'">
    <div class="text-center" style="margin-top: 5px;">
        <h4>Tickets de tu equipo sin asignar</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive table mt-2" id="dataTable">
            <table class="table dataTable my-0" id="dataTable">
                <thead>
                    <tr>
                        <th>Numero</th>
                        <th>Solicitante</th>
                        <th>Asunto</th>
                        <th>Estado</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody *ngFor="let ticket of tickets">
                    <tr class="select" [routerLink]="['/ticket-gestion',ticket._id]">
                        <td data-title="Numero">{{ticket.numTicket}}</td>
                        <td data-title="Solicitante">
                        <img *ngIf="ticket.requester && ticket.requester.image != 'null'" class="rounded-circle mr-2" width="30" height="30" src="{{url+'user/image/'+ticket.requester.image}}" />
                        <img *ngIf="!ticket.requester || ticket.requester.image == 'null'" class="rounded-circle mr-2" width="30" height="30" src="../../../assets/img/system/user-placeholder.png" />
                        {{ticket.requester.name}}
                        <span> </span>
                        {{ticket.requester.surname}}
                        </td>
                        <td data-title="Asunto">{{ticket.sub}}</td>
                        <td data-title="Estado">{{ticket.status}}</td>
                        <td data-title="Fecha">{{ticket.createDate}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td><strong>Numero</strong></td>
                        <td><strong>Solicitante</strong></td>
                        <td><strong>Asunto</strong></td>
                        <td><strong>Estado</strong></td>
                        <td><strong>Fecha</strong></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="row">
            <div class="col-md-6 align-self-center">
                <p id="dataTable_info" class="dataTables_info">Mostrando {{pagingCounter}} a {{pagingCounter+limit}} de {{totalDocs}}</p>
            </div>
            <div class="col-md-6">
                <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" *ngIf="prevPage != null" (click)="paginate(1)"><span>«</span></a></li>
                        <li class="page-item"><a class="page-link" *ngIf="prevPage != null" (click)="paginate(prevPage)">{{prevPage}}</a></li>
                        <li class="page-item active"><a class="page-link">{{page}}</a></li>
                        <li class="page-item"><a class="page-link" *ngIf="nextPage != null" (click)="paginate(nextPage)">{{nextPage}}</a></li>
                        <li class="page-item"><a class="page-link" *ngIf="nextPage != null" (click)="paginate(totalPages)"><span>»</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>