<div class="login-dark form-login">
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="illustration">
            <img class="img-fluid logo" src="../assets/img/system/helpdesk-logo.png">
            <h1 style="font-family: Audiowide, cursive;font-size: 38px;">TR</h1>
            <h3 style="font-size: 20px;">{{title}}</h3>
        </div>

        <div class="alert alert-danger" *ngIf="alertMessage != ''">
            <span>{{alertMessage}}</span>
        </div>
        <div class="form-group" *ngIf="validUrl">
            <input class="form-control" type="password" name="password" placeholder="Contraseña" #password="ngModel" name="password" [(ngModel)]="user.password" required>
        </div>
        <div class="form-group" *ngIf="validUrl">
            <input class="form-control" type="password" name="confirmPass" placeholder="Confirme contraseña" #password="ngModel" name="confirmPass" [(ngModel)]="confirmPass" required>
        </div>
        <div class="form-group" *ngIf="validUrl">
            <button class="btn btn-primary btn-block" type="submit">Cambiar contraseña</button>
        </div>
        <a class="forgot" role="button" href="/">
            Volver a inicio de usuario
        </a>
    </form>
</div>